Repository zDavidB/dotfiles-public, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, repo-config, release-config, github-config

fix: Correct github token
  .github/workflows/release.yml
Labels: github-config

fix: Add release config file
  .github/.releaserc.json
  .github/workflows/release.yml
Labels: github-config

fix: Move release config file
  .releaserc.json
Labels: repo-config

Notes added by 'git notes add'
  60abff7d49423b46aa3750ac512edca01c03e782
Labels: repo-config

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Labels: documentation, repo-config

.github/labeler.yml:

documentation:
- 'docs/**'
- '**/*.md'
- '*.md'
repo-config:
- '*'
- '.*'
release-config: .releaserc.yml
github-config: .github/**
